@charset "utf-8";

input[type=text] {
  width: 320px;
  margin-top: 0;
}
input[type=date], select {
  width: 320px;
  height: 31px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 0;
  padding: 0 10px;
}

.board_wrap dd:not(:last-of-type) {
  line-height: 70px;
}
.board_wrap dt:nth-of-type(3){border-top: 1px solid #D1D1D1;}
.course_index {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 10px;
}
.course_index > div:first-child {
  display: flex;
  gap: 16px;
}
button.insert, button.delete {
  width: 160px;
  height: 35px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #F9F7F7;
  border: 1px solid #EFEFEF;
  color: #333;
  cursor: pointer;
}
button.delete {
  width: 100px;
  border: 0;
  background-color: #5A5A5C;
  color: #FFF;
}

.board_wrap dd.w-30 {width: 30%;}

.course_index .fa-plus {color: #DE0010;}
.course_index .fa-minus {color: #FFFFFF;}

.list_lndex {
  width: 100%; height: 500px;
  border: 4px double #333;
  padding: 0 32px 32px;
  overflow-y: scroll;
}

.list_lndex label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-indent: 0;
}
.list_lndex > input[type=radio]:checked + label {
  background-color: #F9F7F7;
}

.list_lndex input[type=text] {
  margin-top: 0;
}
.list_lndex .chapter {
  display: flex;
  gap: 8px;
  margin-top: 22px;
  padding: 10px 0;
}
.list_lndex .class {
  padding-left: 40px;
  padding: 10px 0 10px 40px;
  column-gap: 8px;
  row-gap: 16px;
}
.list_lndex .class > div:last-of-type {
  width: 100%;
  padding-left: 20px;
}
.list_lndex .class > div:last-of-type::before {
  
}

.course_img #output {
  width: 320px; height: 200px;
  padding-top: 20px;
  object-fit: cover;
}
.course_img #inputTag {
  display: none;
}
.course_img label {
  width: 117px;
  height: 30px;
  font-size: 16px;
  line-height: 31px;
  background: #EFEFEF;
  border: none;
  border-radius: 10px;
  display: block;
  margin-left: 10px;
  margin-bottom: 20px;
  text-indent: 22px;
  cursor: pointer;
}