/* 탭 기본*/
.tab_menu > ul{
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  align-items: center;
}
.tab_menu > ul li {
  height: 35px;
  font-size: 18px;
}
.tab_menu > ul li::after{
  content: '';
  display: block;
  width: 130px;
  height: 5px;
  background: #5A5A5C;
  transform: translateY(10px);
}
.tab_menu > ul li:first-child::after{
  border-radius: 5px 0 0 5px;
}
.tab_menu > ul li:nth-child(3)::after{
  border-radius: 0 5px 5px 0;
}
.board_wp {
  display: inline-block;
  width: 175px;
  height: 35px;
  margin-left: 635px;
  border-radius: 35px;
  background-color: #DE0010;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 35px;
}
.academy .board_wp {margin-left: 765px;}

.tab_menu > ul li.active a {
  color: #DE0010;
  transition: .3s;
}

.tab_menu > ul li.active::after{
  background: #DE0010;
  transition: .3s;
}

.tab_content {
  display: none;
  padding-bottom: 50px;
}
.tab_content.active {
  display: block;
}
/*텝 테이블 */
table{
  width: 1200px;
}
table th{
  font-size: 16px;
  border-bottom: 1px solid #D1D1D1;
  color: #333;
  vertical-align: middle;
}
table th::after{
  display: block;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #D1D1D1;
  transform: translate(0, -16px);
}
table th:first-child::after{width: 0;}
table td{
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  padding: 3px 0;
  border-bottom: 1px solid #D1D1D1;
}
table td::after{
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 16px;
  top: 18px;
  background-color: #D1D1D1;
}
table td:first-child::after{width: 0;}
table img{width: 100%;}
table button{
  width: 96px;
  height: 25px;
  margin: 10px 0;
  background: #E6E6E6;
  border: none;
  border-radius: 25px;
  font-size: 12px;
}
table button.needanswer{
  background-color: var(--main-color);
}
table button.needanswer a{
  color:#fff;
}
table button a{
  display: block;
  color: #333;
}
.del_btn{background: #5A5A5C;}
.del_btn a{color: #fff;}
.board td:nth-child(2){
  text-align: left;
  text-indent: 30px;
}

/* 검색 */
.s_wrap{
  position: relative;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.s_wrap label{
  display: none;
}
.s_wrap select{
  width: 160px;
  height: 40px;
  text-indent: 10px;
  border-radius: 40px;
  border: 1px solid #ddd;
  color: #333;
}
.s_wrap input{
  width: 410px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #ddd;
  text-indent: 10px;
}
.s_wrap input:focus{
  outline: none;
}
.s_wrap .s_btn{
  position: absolute;
  top: 12px;
  right: 320px;
  color: #DE0010;
  background: none;
  border: none;
  cursor: pointer;
}

/* 페이지내이션 */
.pagination{
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: 'Montserrat', sans-serif, arial;
  letter-spacing: 1px;
}
.pagination a{
  text-align: center;
  font-size: 16px;
  color: rgba(34, 34, 34, 0.4);
  transition: .5s;
}
.pagination a:hover, .pagination li.p_on a{
  color: #DE0010;
}
.pagination ul li a{position: relative;}
.pagination ul li a::after{
	transform: scaleX(0);
	transform-origin: top right;
	content: " ";
	display: block;
	position: absolute;
  top: 22px;
  left: -3px;
	height: 2px;
	background: var(--black);
	transition: transform 300ms ease-in-out;
}
.pagination li a:hover::after, .pagination li.p_on a::after{
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  position: absolute;
  top: 22px;
  left: -3px;
  background: #DE0010;
  transform: scaleX(1);
	transform-origin: top left;
}