@charset "utf-8";

/* section calendar */

.sec_cal {
  width: 100%;
  margin: 0 auto;
}

.cal_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 78px;
}

.cal_nav li a, .cal_nav li {
  width: calc(100% - 250px / 12);
}
.cal_nav li a, .cal_nav li span{
  line-height: 78px;
  font-size: 24px;
}
.cal_nav li.now_year {
  display: flex;
  justify-content: center; align-items: center;
  width: 170px; line-height: 78px;
  position: relative;
}
.cal_nav li.now_year::before {
  content: '';
  position: absolute;
  right: -1px;
  background-color: #8B8B8B;
  display: block;
  width: 2px; height: 27px;
}

.cal_nav .year-month {
  width: calc(100% - 250px);
  display: flex;
  justify-content: center; align-items: center;
  text-align: center;
  line-height: 1;
}
.cal_nav .year-month .current_month {
  display: block;
  width: 40px; line-height: 40px;
  border-radius: 40px;
  background-color: #DE0010;
  margin:0 auto;
  color: #fff;
}

.cal_nav .nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.cal_nav .go-prev,
.cal_nav .go-next {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 0;
  justify-content: center;
  align-items: center;
}

.cal_nav .go-prev::before,
.cal_nav .go-next::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-width: 3px 3px 0 0;
  transition: border 0.1s;
}

.cal_nav .go-prev:hover::before,
.cal_nav .go-next:hover::before {
  border-color: #ed2a61;
}

.cal_nav .go-prev::before {
  transform: rotate(-135deg);
}

.cal_nav .go-next::before {
  transform: rotate(45deg);
}

.sec_cal .cal_wrap {
  padding-top: 40px;
  position: relative;
  margin: 0 auto;
}

.sec_cal .cal_wrap .days {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
  top: 368px;
}

.sec_cal .cal_wrap .day {
  display:flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  text-align: left;
  color: #999;
  font-size: 12px;
  text-align: center;
  border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
  display: flex;
  flex-flow: wrap;
  height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
  color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n -6) {
  color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
  color: #ddd;
}