/* 회원정보 타이틀 */
.a_title{
  color: #DE0010;
  font-size: 18px;
  text-align: center;

}
.board_h{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.board_h::after{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: #EBEBEB;
  bottom: 2px;
  z-index: -1;
  border-radius: 0 5px 5px 0;
}
.board_insert h2{
  color: #DE0010;
  font-size: 18px;
  text-indent: 22px;
}
.board_h li{
  height: 35px;
}
.board_h li h2::after{
  content: '';
  display: block;
  width: 130px;
  height: 5px;
  background: #DE0010;
  transform: translateY(10px);
  border-radius: 5px 0 0 5px;
}
.board_h li a {
  height: 35px;
  border-radius: 35px;
  display: block;
  line-height: 30px;
}
.board_h li .fa-chevron-right{
  margin-left: 10px;
  vertical-align: middle;
}

/* 내용 */
.board_wrap dl{
  margin: 40px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #EBEBEB;
  border-bottom: 2px solid #EBEBEB;
}
.board_wrap dt{
  width: 20%;
  background: #F5F5F5;
  border-top: 1px solid #fff;
  text-align: center;
  line-height: 70px;
  /* font-weight: bold; */
}
.board_wrap dt:first-child{border-top: none;}
.board_wrap dt:last-child{border-bottom: none}
.asd{
  display: flex;
  border: none;
  padding-left: 10px;
}
.board_wrap dd{
  width: 80%;
  background: #fff;
  border-top: 1px solid #D1D1D1;
  text-indent: 10px;
  margin-bottom: 16px;
}
.board_wrap dd:nth-of-type(3){
  width: 80%;
  background: #fff;
  border-top: 1px solid #D1D1D1;
}
.board_wrap dd:first-of-type{border-top: none;}
.board_wrap dd:last-of-type{border-bottom: none}

input[type=text]{
  width: 200px;
  height: 31px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 16px;
  padding: 0 10px;
}
input:focus {outline:none;}
select:focus {outline:none;}
input[type=password]{
  display: block;
  width: 200px;
  height: 31px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 16px;
  padding: 0 10px;
  margin-left: 10px;
}
input[type=email]{
  display: block;
  width: 270px;
  height: 31px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 18px;
  padding: 0 10px;
  margin-left: 10px;
}
input[type=checkbox]{
  margin-top: 18px;
  accent-color:#f13845;
  margin-left: 12px;
}
.user_img{
  margin: 8px auto;
  height: 144px;
}
.user_img img{
  width: 122px;
  height: 122px;
  display: block;
  text-align: center;
  margin: 0px auto;
  border-radius: 50%;
  object-fit: cover;
}
input[type=checkbox]::after{
  content: '이메일 수신 동의';
  display:block;
  width: 109px;
  height: 50px;
  padding-left: 20px;
  font-size: 14px;
  transform: translate(0, -3px);
}
input[type=date]{
  display: block;
  width: 135px;
  height: 31px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 16px;
  padding: 0 10px;
  margin-left: 10px;
}
input[type=file]{
  width: 76px;
  font-size: 14px;
  text-align: center;
  background: #5A5A5C;
  border: none;
  color: #fff;
  display: block;
  margin: 6px auto;
  display : none;
}
label{
  width: 117px;
  height: 30px;
  font-size: 16px;
  /* text-align: center; */
  line-height: 31px;
  background: #EFEFEF;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  text-indent: 22px;
  
}
label span{
  display: inline;
  color: #DE0010;
}
.tel_box{
  display: flex;
}
.class_lr{
   display: flex;
   position: relative;
   right: -167px;
   top: 22px;
}
.class_lr span{
  font-size: 14px;
}
.class_lr span:first-child{
  color: #DE0010;
}
.class_lr span:first-child::after{
 content: '/';
 color: #111111;
  padding: 5px;
}
.class_lr span:last-child{
  color: #333;
}
.nick_check{
  position: relative;
  top: 9px;
  display: inline-block;
  width: 86px;
  height: 31px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 10px;
  margin-left: 10px;
  background: none;
  font-size: 12px;
}
input[type=tel]{
  /* position: relative; */
  display: block;
  width: 72px;
  height: 31px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 16px;
  padding: 0 10px;
  margin-left: 10px;
  text-align: center;
}
input[type=tel]::after{
  display: block;
  content: "-";
  width: 1px;
  height: 16px;
  background-color: #111111;
  /* transform: translate(0, -16px); */
}
.tel_box span{
  position: relative;
  top: 23px;
}
input[type=tel]:first-child{
  display: block;
  width: 47px;
  height: 31px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 16px;
  padding: 0 10px;
  margin-left: 10px;
}
.pass_text{
  padding-top: 20px;
}
.file_insert{
  height: 181px;
  padding-top: 60px;
}
/* select{
  display: block;
  width: 70px;
  height: 31px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 19px;
  padding: 0 10px;
  margin-left: 10px;
  text-align: center;
} */
.user_level{
  display: block;
  width: 70px;
  height: 31px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-top: 19px;
  margin-left: 10px;
  text-align: center;
}
.board_file{
  width: 130px;
  height: 35px;
  border: none;
  border-radius: 35px;
  background-color: #9F9F9F;
  color: #fff;
  margin: 15px auto;
  margin-left: 10px;
  cursor: pointer;
}
textarea {
  display: block;
  word-wrap: break-word;
  width: 940px;
  height: 320px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  resize: none;
  text-align: left;
  box-sizing: border-box;
}


/* 하단 탭 */
.member_h{
  display: flex;
}
/* 탭 기본*/
.tab_menu{
  margin-top: 45px;
}
.tab_menu > ul{
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  align-items: center;
}
.tab_menu > ul li {
  height: 35px;
  font-size: 20px;
  width: 270px;
}
.tab_menu > ul li::after{
  content: '';
  display: block;
  width: 270px;
  height: 5px;
  background: #5A5A5C;
  transform: translateY(10px);
}
.tab_menu > ul li:first-child::after{
  border-radius: 5px 0 0 5px;
}
.tab_menu > ul li:nth-child(3)::after{
  border-radius: 0 5px 5px 0;
}
.board_wp {
  display: inline-block;
  width: 175px;
  height: 35px;
  margin-left: 635px;
  border-radius: 35px;
  background-color: #DE0010;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 35px;
}
.academy .board_wp {margin-left: 765px;}

.tab_menu > ul li.active a {
  color: #DE0010;
  transition: .3s;
  width: 270px;
}

.tab_menu > ul li.active::after{
  background: #DE0010;
  transition: .3s;
  width: 270px;
}

/* 회원 수강사진 */
.tab_content {
  display: none;
}
.tab_content.active {
  display: block;
}
.member_class{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 70px;
}
.member_class li{
width: 353px;
gap: 70px;
border-radius: 20px;
margin-bottom: 30px;
}
.member_class img{
  width: 100%;
  border-radius: 20px;
}

/* 사진 내용 */
.mclass-content{
  margin-top: 15px;
  line-height: 30px;
}
.mclass-content p:first-child{
  color: #DE0010;
}
.mclass-content h3{
  font-size: 18px;
  color: #333;
}
.mclass-content p:nth-of-type(2){
  color: #333;
}
.mclass-content p span{
  color: #A7A7A7;
  display: inline-block;
  text-indent: 15px;
}
.mclass-content button{
  margin-top: 24px;
  width: 96px; height: 25px;
  font-size: 16px;
  text-align: center;
  font-weight:500;
  background: #5A5A5C;
  border: none;
  border-radius: 35px;
  color: #fff;
  display: block;
  line-height: 24px;
}
.member_circle{
  display: flex;
}

/* 프로그래스 바 */
.position {
  float: left;
  /* margin: 100px 20px; */
}

.progress-bar {
  position: relative;
  /* height: 10px; */
  /* width: 10px; */
  left: 158px;
  bottom: 88px;
}

.progress-bar div {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.progress-bar div span {
  position: absolute;
  font-family: Arial;
  font-size: 20px;
  line-height: 75px;
  color: #DE0010;
  height: 75px;
  width: 75px;
  left: 12.5px;
  top: 12.5px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}

.progress-bar .rotate {
  clip: rect(0 50px 100px 0);
}

.progress-bar .left {
  clip: rect(0 50px 100px 0);
  opacity: 1;
}

.progress-bar .right {
  clip: rect(0 50px 100px 0);
  transform: rotate(180deg);
  opacity: 0;
}
 /* @keyframes 
toggle {  0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
} */





/* 더보기 */
.more_btn{
  margin: 30px auto;
  width: 96px;
  font-size: 16px;
  text-align: center;
  font-weight:500;
  background: #fff;
  border: none;
  color: #000;
  display: block;
  line-height: 24px;
}
.class-load {
  display: none;
}
.class-load.active {
  display: block;
}
/* .class-load:after {
  display: none;
} */

.fa-chevron-down {
  font-weight: 900;
  margin-left: 5px;
}



/* 삭제-board_b*/
.board_b{
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #EBEBEB;
  padding-top: 40px;
}
/* .board_b > li {
  width: 136px;
  height: 30px;
} */
.board_b > li > a{
  width: 100px; height: 30px;
  font-size: 16px;
  text-align: center;
  font-weight:500;
  background: #5A5A5C;
  border-radius: 35px;
  color: #fff;
  display: block;
  line-height: 30px;
}

.board_b input[type=submit]{
  width:100px;height:30px;
  background:#DE0010;
  border-radius: 35px;
  color:#fff;
  border:none;
  font-size:16px;
  font-weight:500;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}