.hidden {
  display: none;
}

h3 {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  font-weight: bold;
}

#info_wrap {
  position: relative;
  top: -15px;
  width: 100%;
  margin: 0 auto;
  padding: 36px 20px 24px 20px;
  background: #fff;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
  padding: 48px 20px;
}

.info_intro {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  padding-bottom: 48px;
  border-bottom: 1px solid #ddd;
}
.info_intro > img:first-of-type {
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
}
.info_intro > img:nth-of-type(2), .info_intro img:last-of-type {
  display: block;
  width: 20px;
}
.info_intro > img:nth-of-type(2) {
  padding-top: 24px;
}
.info_intro > img:last-of-type {
  float: right;
}
.info_intro > ul {
  padding: 0px 20px;
  font-size: 0.875rem;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.info_intro > ul > li {
  color: #464646;
  width: 100%;
  line-height: 24px;
  word-break: keep-all;
}
.info_intro > ul > li:last-of-type {
  font-size: 1rem;
  color: #000;
}
.info_intro::after {
  content: "";
  clear: both;
  display: block;
}

.info_on_class, .info_off_class {
  padding: 40px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  border-bottom: 1px solid #ddd;
}
.info_on_class > .class_order, .info_off_class > .class_order {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.info_on_class > .class_order > li, .info_off_class > .class_order > li {
  width: calc(0.2686567164 * (100vw - 40px));
}
.info_on_class > .class_order > li > img, .info_off_class > .class_order > li > img {
  width: 100%;
  height: calc(0.2686567164 * (100vw - 40px) / 3 * 2);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.info_on_class > .class_order > li > p, .info_off_class > .class_order > li > p {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  text-align: center;
  padding-top: 12px;
  font-size: 0.875rem;
}
.info_on_class > .class_explain, .info_off_class > .class_explain {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.info_on_class > .class_explain > li, .info_off_class > .class_explain > li {
  font-size: var(--f-size01);
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.info_on_class > .class_explain > li::before, .info_off_class > .class_explain > li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.info_classroom {
  padding: 40px 0px;
  border-bottom: 1px solid #ddd;
}
.info_classroom > p {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  font-size: 0.875rem;
  color: var(--f-color04);
  padding: 12px 0px 20px 0px;
}
.info_classroom > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px 16px;
}
.info_classroom > ul > li {
  width: 46.5671641791%;
}
.info_classroom > ul > li > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.info_classroom > ul > li > p {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  text-align: center;
  padding-top: 12px;
  font-size: 0.875rem;
  color: var(--f-color04);
}

.info_location {
  padding: 40px 0px;
}
.info_location > h3 {
  padding-bottom: 36px;
}
.info_location > dl:first-of-type {
  padding: 28px 0px 12px 0px;
}
.info_location > dl {
  position: relative;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  font-size: 0.875rem;
}
.info_location > dl > dt {
  color: var(--f-color04);
  width: 26px;
  flex-shrink: 0;
}
.info_location > dl > dd {
  flex-grow: 1;
  line-height: 17px;
}

.info_direction > h3 {
  padding-bottom: 36px;
}
.info_direction > dl {
  position: relative;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-bottom: 40px;
  font-size: 0.875rem;
}
.info_direction > dl > dt {
  width: 36px;
  flex-shrink: 0;
}
.info_direction > dl > dt > img {
  width: 100%;
}
.info_direction > dl > dt > p {
  padding-top: 8px;
  color: var(--f-color04);
  font-size: 0.625rem;
  text-align: center;
}
.info_direction > dl dd {
  flex-grow: 1;
  line-height: 17px;
}
.info_direction > dl dd > ul {
  padding-top: 4px;
}
.info_direction > dl dd > ul > li {
  padding-top: 8px;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.info_direction > dl dd > ul > li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--f-color03);
}
.info_direction > dl:last-of-type {
  padding-bottom: 0px;
}/*# sourceMappingURL=info.css.map */