@charset "utf-8";
@import "../layout";
@mixin onemobile{
  font-family: 'ONE-Mobile-Regular', sans-serif, arial;
}

.hidden {display: none;}

h3{
  @include onemobile();
  font-weight: bold;
}

// 최상단 메뉴용 아티클을 제외한 나머지 아티클들 감싼 세션 박스 서식
#info_wrap{
  @include box(-15px);
  padding: 48px 20px;
}

//캐논아카데미 소개 서식
.info_intro{
  @include onemobile();
  padding-bottom: 48px;
  border-bottom:1px solid #ddd; 

  >img:first-of-type{
    height: 50px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  >img:nth-of-type(2), img:last-of-type{
    display: block;
    width: 20px;
  }
  >img:nth-of-type(2){
    padding-top: 24px;
  }
  >img:last-of-type{
    float: right;
  }
  >ul{
    padding: 0px 20px;
    font-size: 0.875rem;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    >li{
      color: #464646;
      width: 100%;
      line-height: 24px;
      word-break: keep-all;
    }
    >li:last-of-type{
      font-size: 1rem;
      color: #000;
    }
  }
  &::after{
    content:'';
    clear: both;
    display: block;
  }
}
//온라인, 오프라인 강의 서식
.info_on_class, .info_off_class{
  padding: 40px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  border-bottom: 1px solid #ddd;

  >.class_order{
    position: relative;
    display: flex;
    justify-content: space-around;
    
    >li{
      $li-width: calc(90 / 335 * (100vw - 40px));
      width: $li-width;
      >img{
        width: 100%;
        height: calc($li-width / 3 * 2);
        object-fit: cover;
        border-radius: 5px;
      }
      >p{
        @include onemobile();
        text-align: center;
        padding-top: 12px;
        font-size: 0.875rem;
      }
    }
  }
  >.class_explain{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    >li{
      font-size: var(--f-size01);
      display: flex;
      align-items: center;
      column-gap: 12px;

      &::before{
        content: '';
        display: inline-block;
        width: 4px; height: 4px;
        border-radius: 50%;
        background-color: var(--main-color);
      }
    }
  }
}
//강의실 서식
.info_classroom{
  padding: 40px 0px;
  border-bottom: 1px solid #ddd;
  >p{
    @include onemobile();
    font-size: 0.875rem;
    color: var(--f-color04);
    padding:12px 0px 20px 0px;
  }
  >ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px 16px;
    >li{
      width: calc(156 / 335 * 100%);
      >img{
        width: 100%;
        // height: 131px;
        object-fit: cover;
        border-radius: 10px;
      }
      >p{
        @include onemobile();
        text-align: center;
        padding-top: 12px;
        font-size: 0.875rem;
        color: var(--f-color04);
      }
    }
  }
}
// 강의실 위치 서식
.info_location{
  padding: 40px 0px;
  >h3{
    padding-bottom: 36px;
  }
  // >div{
  //   width: 100%;
  //   height: 172px;
  //   background-color: #f0f;
  // }
  >dl:first-of-type{
    padding: 28px 0px 12px 0px;
  }
  >dl{
    position: relative;
    display: flex;
    column-gap: 40px;
    font-size: 0.875rem;
  
    >dt{
      color: var(--f-color04);
      width: 26px;
      flex-shrink: 0;
    }
    >dd{
      flex-grow:1;
      line-height: 17px;
    }
  }   
}

//오시는 길 서식
.info_direction{
  >h3{
    padding-bottom:36px;
  }
  >dl{
    position: relative;
    display: flex;
    column-gap: 30px;
    padding-bottom:40px;
    font-size: 0.875rem;

    >dt{
      width: 36px;
      flex-shrink: 0;
      >img{
        width:100%;
      }
      >p{
        padding-top: 8px;
        color: var(--f-color04);
        font-size: 0.625rem; //10px
        text-align: center;
      }
    }
    dd{
      flex-grow: 1;
      line-height: 17px;
      >ul {
        padding-top: 4px;
        >li{
        padding-top: 8px;
        display: flex;
        align-items: center;
        column-gap: 12px;


        &::before{
        content: '';
        display: inline-block;
        width: 4px; height: 4px;
        border-radius: 50%;
        background-color: var(--f-color03);
      }
    }
    }
  }
   
}
>dl:last-of-type{
  padding-bottom: 0px;
}

}


