#course_list {
  padding: 0 20px;
}
#course_list::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 96px;
  left: 0;
  background: #EFF1F3;
}
#course_list .line_tab {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  padding-bottom: 29px;
  display: flex;
  gap: 20px;
  text-align: center;
  margin-top: 12px;
  gap: 0;
  justify-content: space-between;
}
#course_list .line_tab li {
  padding: 0 8px 8px;
  font-size: 18px;
  color: #5A5A5C;
  transition: 0.3s;
  cursor: pointer;
}
#course_list .tab_on {
  position: absolute;
  width: 100px;
  height: 3px;
  top: 93px;
  left: 20px;
  bottom: 0;
  background: #DE0010;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#course_list .tab_con:not(.curriculum) {
  padding-bottom: 48px;
}
#course_list .tab_con:not(.curriculum) > p {
  margin-bottom: 20px;
  font-size: 14px;
}
#course_list .tab_con:not(.curriculum) > p span {
  font-weight: bold;
}
#course_list .tab_con:not(.curriculum) > p span:nth-of-type(2) {
  color: var(--main-color);
}
#course_list .tab_con:not(.curriculum) > p a {
  float: right;
}
#course_list .tab_con:not(.curriculum) ul li {
  margin-bottom: 20px;
}
#course_list .tab_con:not(.curriculum) ul li img {
  width: 100%;
  border-radius: 15px;
}
#course_list .tab_con:not(.curriculum) ul li .tab_tag span {
  display: inline-block;
  margin: 8px 8px 8px 0;
  padding: 0 15px;
  font-size: 12px;
  line-height: 18px;
  color: var(--sub-color01);
  border: 1px solid var(--sub-color01);
  border-radius: 20px;
}
#course_list .tab_con:not(.curriculum) ul li .tab_tag :first-child {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
#course_list .tab_con:not(.curriculum) ul li p {
  font-size: var(--f-size01);
}
#course_list .tab_con:not(.curriculum) ul li p:first-of-type {
  color: #5A5A5C;
}
#course_list .tab_con:not(.curriculum) ul li p:nth-of-type(2) {
  margin: 8px 0;
  font-size: var(--f-size02);
  font-weight: bold;
}
#course_list .tab_con:not(.curriculum) ul li p:last-of-type {
  margin-top: 8px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

#detail .sub_title_prev {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  width: 100%;
  height: 65px;
  border-radius: 15px 15px 0 0;
  background-color: var(--sub-color01);
  padding-left: 20px;
}
#detail .sub_title_prev > a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  height: 50px;
  color: var(--f-color01);
  font-size: 1.125rem;
}
#detail > img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  top: -15px;
}
#detail .c_info {
  position: relative;
  top: -32px;
  width: 100%;
  margin: 0 auto;
  padding: 36px 20px 24px 20px;
  background: #fff;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
  padding-top: 20px;
  font-size: 14px;
}
#detail .c_info .tag span {
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 0 15px;
  font-size: 12px;
  line-height: 18px;
  color: var(--sub-color01);
  border: 1px solid var(--sub-color01);
  border-radius: 20px;
}
#detail .c_info .tag :first-child {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
#detail .c_info p {
  margin-bottom: 8px;
}
#detail .c_info p span {
  display: inline-block;
  width: 65px;
  color: #5A5A5C;
}
#detail .c_info p:first-of-type {
  margin: 12px 0;
  font-size: var(--f-size02);
  font-weight: bold;
  line-height: 20px;
}
#detail .c_info p:nth-of-type(2) {
  margin-bottom: 12px;
}
#detail .c_info .c_btn {
  text-align: center;
  margin-top: 20px;
}
#detail .c_info .c_btn .pre {
  display: inline-block;
  width: 124px;
  margin-right: 10px;
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  border-radius: 20px;
  border: 0;
  font-weight: "400";
  background-color: #5A5A5C;
  color: var(--f-color01);
  font-size: var(--f-size02);
  padding: 7px 22px;
}
#detail .c_info .c_btn .cart {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  border-radius: 20px;
  border: 0;
  font-weight: "400";
  background-color: var(--main-color);
  color: var(--f-color01);
  font-size: var(--f-size02);
  padding: 7px 22px;
  width: 124px;
}
#detail .c_info .c_btn .cart i.fas {
  margin-right: 4px;
}
#detail .c_detail {
  position: relative;
  top: -30px;
  width: 100%;
  margin: 0 auto;
  padding: 36px 20px 24px 20px;
  background: #fff;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
  padding: 36px 20px 26px 20px;
}
#detail .c_detail::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 67px;
  left: 0;
  background: #EFF1F3;
}
#detail .c_detail .line_tab {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  padding-bottom: 29px;
  display: flex;
  gap: 20px;
  text-align: center;
  gap: 0;
  justify-content: space-between;
}
#detail .c_detail .line_tab li {
  padding: 0 8px 8px;
  font-size: 18px;
  color: #5A5A5C;
  transition: 0.3s;
  cursor: pointer;
}
#detail .c_detail .tab_on {
  position: absolute;
  width: 83px;
  height: 3px;
  top: 64px;
  left: 20px;
  bottom: 0;
  background: #DE0010;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#detail .c_detail .tab_con:not(.review) img {
  width: 100%;
}
#detail .c_detail .intro .con {
  overflow: hidden;
}
#detail .c_detail .intro .more {
  display: none;
  width: 100%;
  margin: 0 auto;
  background: none;
  border: none;
  line-height: 28px;
}
#detail .c_detail .intro .more::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #EFF1F3;
  box-shadow: 0px -6px 10px #000;
}
#detail .c_detail .intro .more i {
  line-height: 36px;
  vertical-align: bottom;
  font-size: var(--f-size02);
  margin-left: 5px;
}
#detail .c_detail .index {
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px -1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
#detail .c_detail .index dl {
  font-size: 14px;
}
#detail .c_detail .index dl span {
  margin-right: 8px;
  color: #4C4C4C;
  font-weight: normal;
}
#detail .c_detail .index dl dt {
  padding: 12px;
  text-align: center;
  background: #F4F4F5;
  transform: translateY(-1px);
}
#detail .c_detail .index dl dd {
  padding: 20px 0;
  font-weight: bold;
}
#detail .c_detail .index dl dd {
  border-bottom: 1px solid #ccc;
}
#detail .c_detail .review > p {
  font-size: 14px;
  margin-bottom: 20px;
}
#detail .c_detail .review > p span {
  color: var(--main-color);
  font-weight: bold;
}
#detail .c_detail .review ul li {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px -1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
#detail .c_detail .review ul li p {
  font-size: 14px;
  color: #767676;
}
#detail .c_detail .review ul li p:nth-of-type(2) {
  color: #333;
}
#detail .c_detail .review ul li .star {
  position: relative;
}
#detail .c_detail .review ul li .star .star_f {
  position: absolute;
  top: 2px;
  color: var(--main-color);
}
#detail .c_detail .review ul li .star .star1 {
  clip: rect(0, 15px, 13px, 0);
}
#detail .c_detail .review ul li .star .star2 {
  clip: rect(0, 30px, 13px, 0);
}
#detail .c_detail .review ul li .star .star3 {
  clip: rect(0, 45px, 13px, 0);
}
#detail .c_detail .review ul li .star .star4 {
  clip: rect(0, 60px, 13px, 0);
}

.curriculum {
  padding-bottom: 48px;
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
}
.curriculum h3 {
  font-weight: bold;
}
.curriculum > .curri_order {
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
}
.curriculum > .curri_order > h3 {
  padding-bottom: 24px;
}
.curriculum > .curri_order > ul {
  display: flex;
  flex-direction: column;
}
.curriculum > .curri_order > ul > li {
  width: 100%;
}
.curriculum > .curri_order > ul > li > .order_box {
  position: relative;
}
.curriculum > .curri_order > ul > li > .order_box > img {
  width: 100%;
  height: 16vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  filter: brightness(50%);
}
.curriculum > .curri_order > ul > li > .order_box > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--f-color01);
  font-size: 0.875rem;
}
.curriculum > .curri_order > ul > li > .arrow {
  width: 4vw;
  padding: 16px 0px;
  margin: 0 auto;
}
.curriculum > .curri_order > ul > li > .arrow > img {
  width: 100%;
}

.curri_recommend {
  width: 100%;
}
.curri_recommend > h3 {
  padding: 24px 0px 48px 0px;
}
.curri_recommend > dl {
  position: relative;
  margin: 0 auto;
  width: 100%;
  z-index: -1;
}
.curri_recommend > dl::before {
  content: "";
  display: block;
  width: 2px;
  height: 900px;
  position: absolute;
  top: 5px;
  left: 50%;
  background: #ccc;
}
.curri_recommend > dl > dt {
  position: relative;
  left: 50%;
  transform: translateX(-71px);
  font-size: 1.125rem;
  text-align: right;
  color: var(--main-color);
  display: inline-block;
  padding-top: 80px;
}
.curri_recommend > dl > dt::after {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: 1;
  transform: translate(13px, 5px);
}
.curri_recommend > dl > dt:first-of-type {
  padding-top: 0px;
}
.curri_recommend > dl > dd {
  position: relative;
  font-size: 0.875rem;
  padding-top: 60px;
  padding-left: 54px;
  left: 50%;
  width: 160px;
  word-break: keep-all;
  line-height: 17px;
}
.curri_recommend > dl > dd::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--f-color01);
  border: 2px solid var(--f-color04);
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  left: -8px;
  top: 60px;
}
.curri_recommend > dl > dd .on_mini {
  font-size: var(--f-size01);
  position: absolute;
  left: 24px;
  padding: 2px 4px;
  color: var(--f-color01);
  background-color: var(--main-color);
  margin-right: 8px;
}
.curri_recommend > dl > dd .off_mini {
  font-size: var(--f-size01);
  position: absolute;
  left: 24px;
  padding: 2px 4px;
  color: var(--f-color01);
  background-color: var(--sub-color01);
  margin-right: 8px;
}/*# sourceMappingURL=academy.css.map */