@import '../layout';

// 강의 목록 서식
#course_list{
  padding: 0 20px;
  .line_tab{
    @include tab;
    margin-top: 12px;
    gap: 0;
    justify-content: space-between;
  }
  .tab_on{
    @include tab_on(104px, 93px);
  }
  .tab_con{
    ul{
      li{
        margin-bottom: 20px;
        img{
          @include img;
        }
        .tab_tag{
          @include tag(8px 8px 8px 0);
        }
        p{
          font-size: 12px;
        }
        p:first-of-type{
          color: #5A5A5C;
        }
        p:nth-of-type(2){
          margin: 8px 0;
          font-size: 16px;
          font-weight: bold;
        }
        p:last-of-type{
          margin-top: 8px;
          color: var(--main-color);
          font-size: 18px;
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
}
#course_list::before{
  @include tab_active(91px);
}

// 강의 상세 서식
#detail{
  h2{
    height: 70px;
    background: var(--sub-color01);
    border-radius: 15px 15px 0px 0px;
    a{
      @include onemobile;
      display: inline-block;
      margin: 16px 0 0 20px;
      font-size: 18px;
      color: var(--f-color01);
      i.fas{
        margin-right: 12px;
      }
    }
  }
  > img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -18px;
  }
  .c_info{
    @include box(-30px);
    padding-top: 20px;
    font-size: 14px;
    .tag{
      @include tag(0 8px 0 0);
    }
    p{
      margin-bottom: 8px;
      span{
        display: inline-block;
        width: 65px;
        color: #5A5A5C;
      }
    }
    p:first-of-type{
      margin: 12px 0;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
    }
    p:nth-of-type(2){
      margin-bottom: 12px;
    }
    .c_btn{
      width: 100%;
      text-align: center;
      margin-top: 20px;
      a{
        display: inline-block;
        width: 124px;
        height: 32px;
        margin: 0 10px;
        font-size: 16px;
        line-height: 30px;
        color: #fff;
        border-radius: 15px;
      }
      .pre{
        background: #5A5A5C;
      }
      .cart{
        background: var(--main-color);
        i.fas{
          margin-right: 4px;
        }
      }
    }
  }
  .c_detail{
    @include box(-27px);
    .line_tab{
      @include tab;
    }
    .tab_on{
      @include tab_on(83px, 69px);
    }
    .tab_con:not(.review){
      img{
        width: 100%;
      }
    }
    .index{
      padding: 20px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px -1px 4px rgba(0, 0, 0, 0.05);
      border-radius: 15px;
      dl{
        font-size: 14px;
        span{
          margin-right: 8px;
          color: #4C4C4C;
          font-weight: normal;
        }
        dt{
          padding: 12px;
          text-align: center;
          background: #F4F4F5;
        }
        dd{
          padding: 20px 0;
          font-weight: bold;
        }
        dd{
          border-bottom: 1px solid #ccc;
        }
      }
    }
    .review{
      > p{
        font-size: 14px;
        margin-bottom: 20px;
        span{
          color: var(--main-color);
          font-weight: bold;
        }
      }
      ul{
        li{
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding: 20px;
          margin-bottom: 20px;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px -1px 4px rgba(0, 0, 0, 0.05);
          border-radius: 15px;
          p{
            font-size: 14px;
            color: #767676;
          }
          p:nth-of-type(2){
            color: #333;
          }
        }
      }
    }
  }
  .c_detail::before{
    @include tab_active(67px);
  }
}