@charset "utf-8";

@import "../layout";

@mixin onemobile{
  font-family: 'ONE-Mobile-Regular', sans-serif, arial;
}

@mixin box($top){
  position: relative;
  top: $top;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
}

footer{
  @include footer(-15px);
}

.list_tab {
  @include box(-15px);
  padding: 20px 20px 56px 20px;
  
  &::before{
    @include tab_active(51px);
  }
  .line_tab{
    @include tab;
    padding-bottom: 6px;
    > li {
      font-size: var(--f-size02);
    }
  }
  .tab_on{
    @include tab_on(88px, 48px);
  }
}

.tab_con {
  > p:first-of-type {
    @include onemobile();
    font-size: 0.875rem;
    padding: 20px 0;
    > .emp {
      color: var(--main-color);
      font-weight: 700;
    }
  }
}

/* 프로그래스 바 */
.progress-bar {
  $circle-size: 84px;
  width: $circle-size;
  height: $circle-size;
  border-radius: 0 $circle-size $circle-size 0;
  overflow: hidden;
  .wrap-sub {
    .left-sub, .right-sub {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: $circle-size;
      height: calc($circle-size / 2);
      border-radius: $circle-size $circle-size 0 0;
      box-sizing: border-box;
      transform-origin: center;
      z-index: 1; 
      &.left-sub {
        border-top: calc($circle-size / 2) solid #D9D9D9;
        transform: rotate(-90deg) translateY(-50%) translateX(-25%);
      }
      &.right-sub {
        border-top: calc($circle-size / 2) solid var(--main-color);
        transform: rotate(90deg) translateY(-50%) translateX(25%);
      }
    }
  }
  div {
    position: absolute;
    height: $circle-size;
    width: $circle-size;
    border-radius: 50%;
    p {
      position: absolute;
      font-size: var(--f-size01);
      height: calc($circle-size * 0.8);
      width: calc($circle-size * 0.8);
      left: calc($circle-size * 0.1);
      top: calc($circle-size * 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center; align-items: center;
      gap: 4px;
      text-align: center;
      border-radius: 50%;
      background-color: white;
      z-index: 1;
      > .emp {
        color: var(--main-color);
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 0.875rem;
      }
    }
  } // div end
  .background {
    overflow: hidden;
  }
  .rotate {
    clip: rect(0 calc($circle-size / 2) $circle-size 0);
  }
  .left {
    clip: rect(0 calc($circle-size / 2) $circle-size 0);
    opacity: 1;
  }
  .right {
    clip: rect(0 calc($circle-size / 2) $circle-size 0);
    transform: rotate(180deg);
    opacity: 0;
  }
} // .progress-bar end

// 강의실 강의 리스트
.tab_con {
  > ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    > li{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      min-height: 235px;
      gap: 8px;
      border-radius: 15px;
      padding: 24px 16px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px -1px 4px rgba(0, 0, 0, 0.05);
      > p:first-of-type {
        color: var(--main-color);
        font-size: var(--f-size01);
      }
      > h4 {
        color: var(--f-color03);
        font-size: var(--f-size02);
        font-weight: 600;
      }
      > dl {
        display: grid;
        grid-template-columns: repeat(2, 110px calc(100% - 110px));
        padding-bottom: 4px;
        font-size: 0.875rem;
        > dt {
          color: var(--f-color03);
        }
        > dd {
          color: var(--f-color04);
        }
      } // dl end
      > a {
        @include btn('red', 'medium');
        position: absolute;
        bottom: 24px; left: 16px;
      }
      .progress-bar {
        position: absolute;
        bottom: 24px; right: 16px;
      }
    } // li end
  } // ul end
} // .tab_con end