@charset "utf-8";

@import "../layout";

@mixin onemobile{
  font-family: 'ONE-Mobile-Regular', sans-serif, arial;
}

@mixin box($top){
  position: relative;
  top: $top;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
}

.course_wrap {
  @include box(-15px);
  padding: 24px 20px 0;
  .course_info {
    //dt 크기
    $course_dt_width: calc((120 / 335) * 100%);
    display: grid;
    grid-template-columns: $course_dt_width auto;
    column-gap: 16px;
    row-gap: 4px;
    border-bottom: 1px solid var(--st-color01);
    margin-bottom: 24px;
    .course_image {
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
      margin-bottom: 12px;
    }
    .course_title {
      > p {
        font-size: var(--f-size01);
        color: var(--main-color);
        padding-bottom: 4px;
      }
      > h4 {
        font-size: var(--f-size02);
        color: var(--f-color03);
        font-weight: 600;
      }
    }
    > dl {
      font-size: 0.875rem;
      grid-column: 1 / span 2;
      display: flex;
      > dt {
        color: var(--f-color04);
        width: $course_dt_width;
      }
      > dd {
        color: var(--f-color03);
        font-weight: 500;
      }
    }
    > .btn_list {
      grid-column: 1 / span 2;
      display: flex;
      justify-content: center;
      column-gap: 8px;
      padding: 12px 0 24px;
      > button {
        @include onemobile();
        display: block;
        &:first-of-type {
          @include btn('white red', 'medium');
        }
        &:nth-of-type(2) {
          @include btn('red', 'medium');
        }
      }
    }
  } // .course_info end
} // .course_wrap end

.course_status {
  border-bottom: 1px solid var(--st-color01);
  > h3 {
    @include onemobile();
    color: var(--f-color03);
    font-size: var(--f-size02);
    padding-bottom: 24px;
  }
  > .progress-bar {
    margin: 0 auto;
  }
  > p {
    text-align: center;
    padding: 12px 0 24px;
    > .emp {
      color: var(--main-color);
    }
  }
} // .course_status end

/* 프로그래스 바 */
.progress-bar {
  $circle-size: 108px;
  width: $circle-size;
  height: $circle-size;
  border-radius: 0 $circle-size $circle-size 0;
  overflow: hidden;
  .wrap-sub {
    .left-sub, .right-sub {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: $circle-size;
      height: calc($circle-size / 2);
      border-radius: $circle-size $circle-size 0 0;
      box-sizing: border-box;
      transform-origin: center;
      z-index: 1; 
      &.left-sub {
        border-top: calc($circle-size / 2) solid #D9D9D9;
        transform: rotate(-90deg) translateY(-50%) translateX(-25%);
      }
      &.right-sub {
        border-top: calc($circle-size / 2) solid var(--main-color);
        transform: rotate(90deg) translateY(-50%) translateX(25%);
      }
    }
  }
  div {
    position: absolute;
    height: $circle-size;
    width: $circle-size;
    border-radius: 50%;
    span {
      position: absolute;
      font-size: 20px;
      line-height: calc($circle-size * 0.8);
      color: var(--main-color);
      height: calc($circle-size * 0.8);
      width: calc($circle-size * 0.8);
      left: calc($circle-size * 0.1);
      top: calc($circle-size * 0.1);
      text-align: center;
      border-radius: 50%;
      background-color: white;
      font-family: 'Montserrat';
      font-weight: 500;
      z-index: 1;
    }
  } // div end
  .background {
    overflow: hidden;
  }
  .rotate {
    clip: rect(0 calc($circle-size / 2) $circle-size 0);
  }
  .left {
    clip: rect(0 calc($circle-size / 2) $circle-size 0);
    opacity: 1;
  }
  .right {
    clip: rect(0 calc($circle-size / 2) $circle-size 0);
    transform: rotate(180deg);
    opacity: 0;
  }
} // .progress-bar end

.course_list {
  padding-top: 24px;
  > h3 {
    @include onemobile();
    color: var(--f-color03);
    font-size: var(--f-size02);
    padding-bottom: 20px;
  }
  > ul {
    font-size: 0.875rem;
    > li {
      > h5 {
        line-height: 28px;
        text-align: center;
        font-size: 0.875rem;
        background-color: #F4F4F5;
        margin-bottom: 20px;
      }
      > ul > li {
        margin-bottom: 20px;
        .emp {
          font-weight: 700;
        }
        &.status_data_wrap {
          text-align: center;
          dl {
            display: inline-flex;
            font-size: var(--f-size01);
            align-items: center;
            margin: 0 auto;
            &:first-of-type {margin-bottom: 4px;}
            dt {
              color: #767676;
              min-width: 54px;
              text-align: left;
            }
            dd {
              min-width: 220px;
              text-align: left;
              position: relative;
              &.status {
                .status_percent {
                  position: absolute;
                  left: 0; top: -100%;
                  transform: translateX(-50%);
                  color: var(--main-color);
                }
                .line_box {
                  > svg {
                    border-radius: 4px;
                  }
                }// .line_box end
              }
            } // dd end
          } // dl end
        } // &.status_data_wrap end
        &:last-of-type {
          text-align: center;
          > a {
            @include btn('red', 'small');
            display: inline-block;
            margin: 0 auto 4px;
          }
        }
      } // ul > li end
    } // li end
  } // ul end
} // .course_list end