@charset "UTF-8";
.list_tab {
  position: relative;
  top: -15px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.list_tab::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50px;
  left: 0;
  background: #EFF1F3;
}
.list_tab .line_tab {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  padding-bottom: 27px;
  display: flex;
  gap: 20px;
  text-align: center;
  padding-bottom: 6px;
}
.list_tab .line_tab li {
  padding: 0 8px 8px;
  font-size: 18px;
  color: #5A5A5C;
  transition: 0.3s;
  cursor: pointer;
}
.list_tab .line_tab > li {
  font-size: var(--f-size02);
}
.list_tab .tab_on {
  position: absolute;
  width: 88px;
  height: 3px;
  top: 48px;
  left: 20px;
  bottom: 0;
  background: #DE0010;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tab_con > p:first-of-type {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  font-size: 0.875rem;
  padding: 20px 0;
}
.tab_con > p:first-of-type > .emp {
  color: var(--main-color);
  font-weight: 700;
}

/* 프로그래스 바 */
.progress-bar {
  width: 84px;
  height: 84px;
  border-radius: 0 84px 84px 0;
  overflow: hidden;
}
.progress-bar .wrap-sub .left-sub, .progress-bar .wrap-sub .right-sub {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 42px;
  border-radius: 84px 84px 0 0;
  box-sizing: border-box;
  transform-origin: center;
  z-index: 1;
}
.progress-bar .wrap-sub .left-sub.left-sub, .progress-bar .wrap-sub .right-sub.left-sub {
  border-top: 42px solid #D9D9D9;
  transform: rotate(-90deg) translateY(-50%) translateX(-25%);
}
.progress-bar .wrap-sub .left-sub.right-sub, .progress-bar .wrap-sub .right-sub.right-sub {
  border-top: 42px solid var(--main-color);
  transform: rotate(90deg) translateY(-50%) translateX(25%);
}
.progress-bar div {
  position: absolute;
  height: 84px;
  width: 84px;
  border-radius: 50%;
}
.progress-bar div span {
  position: absolute;
  font-size: 20px;
  line-height: 67.2px;
  color: var(--main-color);
  height: 67.2px;
  width: 67.2px;
  left: 8.4px;
  top: 8.4px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  font-family: "Montserrat";
  z-index: 1;
}
.progress-bar .background {
  overflow: hidden;
}
.progress-bar .rotate {
  clip: rect(0 42px 84px 0);
}
.progress-bar .left {
  clip: rect(0 42px 84px 0);
  opacity: 1;
}
.progress-bar .right {
  clip: rect(0 42px 84px 0);
  transform: rotate(180deg);
  opacity: 0;
}

.tab_con > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tab_con > ul > li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 235px;
  gap: 8px;
  border-radius: 15px;
  padding: 24px 16px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px -1px 4px rgba(0, 0, 0, 0.05);
}
.tab_con > ul > li > p:first-of-type {
  color: var(--main-color);
  font-size: var(--f-size01);
}
.tab_con > ul > li > h4 {
  color: var(--f-color03);
  font-size: var(--f-size02);
  font-weight: 600;
}
.tab_con > ul > li > dl {
  display: grid;
  grid-template-columns: repeat(2, 110px calc(100% - 110px));
  padding-bottom: 4px;
  font-size: 0.875rem;
}
.tab_con > ul > li > dl > dt {
  color: var(--f-color03);
}
.tab_con > ul > li > dl > dd {
  color: var(--f-color04);
}
.tab_con > ul > li > a {
  font-family: "ONE-Mobile-Regular", sans-serif, arial;
  border-radius: 20px;
  border: 0;
  font-weight: 700;
  background-color: var(--main-color);
  color: var(--f-color01);
  font-size: var(--f-size02);
  padding: 7px 22px;
  position: absolute;
  bottom: 24px;
  left: 16px;
}
.tab_con > ul > li .progress-bar {
  position: absolute;
  bottom: 24px;
  right: 16px;
}/*# sourceMappingURL=course_status.css.map */