@charset "utf-8";
@font-face {
  font-family: 'ONE-Mobile-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100,300;400;500&display=swap');

:root{
  --main-color: #DE0010; /*캐논레드*/
  --sub-color01: #38373C; /*차콜*/

  --f-color01: #fff;
  --f-color02: #000;
  --f-color03: #333;
  --f-color04: #767676;

  --f-size01: 0.75rem; /*12px*/
  --f-size02: 1rem; /*16px*/
  --f-size03: 1.5rem; /*24px*/
  --f-size04: 2rem; /*32px*/
  --f-size05: 3rem; /*48px*/
  --f-size06: 4rem; /*64px*/

  --bg-color01: #fff;
  --bg-color02: #000;
  --bg-color03: #333;

  --st-color01: #ccc;
  --st-color02: #ddd;
  
}

body{
  font-family: 'Noto Sans KR', sans-serif, arial;
  color: #333;
}
textarea, input[type=date]{
  font-family: 'Noto Sans KR', sans-serif, arial;
  color: #333;
}
.a_title, header nav ul li a{
  font-family: 'ONE-Mobile-Regular', sans-serif, arial;
  font-weight: normal;
  letter-spacing: -0.7px;
}
header nav ul li:first-child a{
  font-family: 'Montserrat', sans-serif, arial;
  letter-spacing: 1px;
  font-size: 24px;
}
input[type=text], input[type=date], select {
  font-size: 14px;
}
input[type=text], input[type="password"], button{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
input:checked[type="checkbox"]{
  background-color: #fff;
  -webkit-appearance: checkbox;
}