@charset "utf-8";
body{
  background: var(--sub-color01);
}
.member h1{
  margin: 100px 0;
  text-align: center;
}
.login{
  width: 100%;
  padding: 100px 0;
  background: var(--bg-color01);
  border-radius: 100px 0 0 0 ;
  text-align: center;
}
.login h2{
  font-size: var(--f-size04);
  margin-bottom: 50px;
  font-weight: normal;
}
#member_form{
  width: 300px;
  margin: 0 auto;
  text-align: left;
}
#member_form label{
  display: inline-block;
  width: 300px;
}
#member_form input:not(#log_save){
  width: 300px;
  height: 45px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid var(--bg-color03);
}
#member_form input:focus{
  outline: none;
  border-bottom: 1px solid var(--main-color);
}
#member_form #log_save{
  margin: 10px 0;
  vertical-align: middle;
  accent-color: var(--main-color);
  background: #eee;
  /* border: none; */
  border-radius: 5px;
  width: 15px;
  height: 15px;
}
#member_form #log_save{
  color: var(--main-color);
}
.m_btn{
  width: 300px;
  height: 50px;
  margin: 10px 0;
  border-radius: 50px;
  border: none;
  background: var(--main-color);
  color: var(--bg-color01);
  cursor: pointer;
}
.log_sns{
  display: flex;
  justify-content: space-between;
}