@charset "utf-8";
body{
  background: var(--sub-color01);
}
header{display: none;}
footer{padding-bottom: 25px;}

.member h1{
  margin: 80px 0;
  text-align: center;
}
.register{
  width: 100%;
  padding: 100px 0;
  background: var(--bg-color01);
  border-radius: 100px 0 0 0 ;
  text-align: center;
}
.register h2{
  font-size: var(--f-size04);
  margin-bottom: 50px;
  font-weight: normal;
}
#member_form{
  width: 300px;
  margin: 0 auto;
  text-align: left;
}
#member_form label{
  display: inline-block;
  width: 300px;
}
#member_form input:not(input[type="checkbox"]){
  width: 300px;
  height: 45px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
}
#member_form input:focus{
  outline: none;
  border-bottom: 1px solid var(--main-color);
}
#id_check_msg{
  display: none;
  font-size: var(--f-size01);
  text-indent: 5px;
  color: var(--main-color);
  transform: translateY(-10px);
}
#member_form small{
  font-size: var(--f-size01);
  color: #8b8b8b;
}
input[type="checkbox"]:checked{
  accent-color: var(--main-color);
}
.mail_check span{
  font-size: 14px;
}
.terms{
  font-size: 14px;
}
.terms p{
  font-size: 18px;
  margin: 40px 0;
}
.terms label:first-of-type{
  width: 300px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  background: #EBEBEB;
  border-radius: 10px;
}
.terms label{
  margin-bottom: 8px;
  text-indent: 12px;
}
.m_btn{
  width: 300px;
  height: 50px;
  margin: 10px 0;
  border-radius: 50px;
  border: none;
  background: #5A5A5C;
  color: var(--bg-color01);
  cursor: pointer;
}
#save_frm{
  margin-top: 50px;
  background: var(--main-color);
}