@charset "utf-8";
@import "../layout";
@mixin onemobile{
  font-family: 'ONE-Mobile-Regular', sans-serif, arial;
}

@mixin box($top){
  position: relative;
  top: $top;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
}
//1:1문의 서식
#question_wrap{
  width: 100%;
  margin: 0 auto;
  h2{
    font-family: 'ONE-Mobile-Regular', sans-serif, arial;
  font-size: 18px;
  font-weight: 400;
  color: #DE0010;
  height: 27px;
  display: inline-block;
  width: 100%;
  padding-left: 28px;
  padding-bottom: 8px;
  // font-weight: bold;
  margin: 31px 0 0 0;
  }
  h2::after{
    content: "";
    display: block;
    width: 83px;
    height: 3px;
    background: #DE0010;
    margin-top: 8px;
    margin-left: -9px;
    border-radius: 5px;
}
// 문의하기 버튼
.question_write_btn{
  display: flex;
  justify-content: end;
  padding: 0 20px 0 20px;
}
.test02{
  @include btn('red', 'small');
}

}
#question_wrap::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 112px;
  left: 0;
  background: #EFF1F3;
}

// 1:1문의 글 박스
.question_box{
  padding: 24px 20px 28px 20px; 
}
.question_ul{
  li{
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 12px;
    h3{
      font-size: 14px;
      font-weight: 400;
      color: #191919;
      margin: 0 0 8px 4px;
    }
    span{
      display: inline-block;
      font-size: 12px;
      color: #333;
      margin: 0 0 12px 4px;
    }
  }
}

// 검색
.s_wrap{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.s_wrap label{
  display: none;
}
.s_wrap select{
  width: 25%;
  height: 28px;
  text-indent: 10px;
  border-radius: 40px;
  border: 1px solid #ddd;
  color: #333;
}
.s_wrap input{
  width: 43%;
  height: 28px;
  border-radius: 40px;
  border: 1px solid #ddd;
  text-indent: 10px;
}
.s_wrap input:focus{
  outline: none;
}
.s_wrap .s_btn{
  position: absolute;
  // width: 100%;
  top: 5px;
  right: 80px;
  color: #DE0010;
  background: none;
  border: none;
  cursor: pointer;
}







// 문의 상세피이지(view) 
.question_view_box {
  @include box(-15px);
  padding: 24px 20px 0;
  font-family: 'Noto Sans KR', sans-serif, arial;
  //유저 정보
.q_user_info{
  display: flex;
  height: 30px;
  margin-bottom: 16px;
.q_user_img{
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 24px;
  padding-left: 1px;
}
.q_name_day{
  margin-left: 16px;
  p{
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }
  span{
    color: #767676;
    font-size: 12px;
    font-weight: 400;
  }
}
}
  h3{
    // 일단 디자인에 없어서 
    display: none;
  }
  .question_content_box{
    margin-bottom: 20px;
    padding: 12px 0px 24px 12px;
    width: 100%;
    min-height: 375px;
    border: 1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
  }
  .question_answer_box{
    margin-bottom: 40px;
    padding: 12px 0px 24px 12px;
    width: 100%;
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
  }
}
.question_link{
  text-align: center;
  a{
    @include btn('white red', 'medium');
    margin: 0 auto 94px;
    display: inline-block;
  }
}
