@charset "utf-8";
@mixin onemobile{
  font-family: 'ONE-Mobile-Regular', sans-serif, arial;
}

@mixin box($top){
  position: relative;
  top: $top;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
}
//1:1문의 서식
#question_wrap{
  width: 100%;
  margin: 0 auto;
  h2{
    font-family: 'ONE-Mobile-Regular', sans-serif, arial;
  font-size: 18px;
  color: #DE0010;
  height: 27px;
  display: inline-block;
  width: 100%;
  padding-left: 28px;
  padding-bottom: 8px;
  font-weight: bold;
  margin-bottom: 37px;
  }
  h2::after{
    content: "";
    display: block;
    width: 83px;
    height: 3px;
    background: #DE0010;
    margin-top: 8px;
    margin-left: -9px;
    border-radius: 5px;
}
.question_write{
  display: inline-block;
  width: 100%;
  height: 32px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: ONE Mobile;
  border: 1px solid #E6E6E6;
  border-radius: 20px;
  color: #DE0010;
  line-height: 30px;
}
}
#question_wrap::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 82px;
  left: 0;
  background: #EFF1F3;
}
// 1:1문의 글 박스
.question_ul{
  li{
    width: 100%;
    margin: 0 20px 0 20px;
    border-bottom: 1px solid #CCCCCC;

    h3{
      font-size: 14px;
      color: #191919;
      margin: 20px 0 8px 0;
    }
    span{
      display: inline-block;
      font-size: 12px;
      color: #333;
      margin-bottom: 12px;
    }
  }
}

// 검색
.s_wrap{
  position: relative;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.s_wrap label{
  display: none;
}
.s_wrap select{
  width: 25%;
  height: 28px;
  text-indent: 10px;
  border-radius: 40px;
  border: 1px solid #ddd;
  color: #333;
}
.s_wrap input{
  width: 43%;
  height: 28px;
  border-radius: 40px;
  border: 1px solid #ddd;
  text-indent: 10px;
}
.s_wrap input:focus{
  outline: none;
}
.s_wrap .s_btn{
  position: absolute;
  // width: 100%;
  top: 5px;
  right: 80px;
  color: #DE0010;
  background: none;
  border: none;
  cursor: pointer;
}


















// 문의 상세피이지
.question_view_box {
  @include box(-15px);
  padding: 60px 20px 0;
  font-family: 'Noto Sans KR', sans-serif, arial;
}